* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column-full {
  float: left;
  width: 100%;
  padding: 10px;
}

.row:after {
  display: table;
  clear: both;
}
